/*CSS reset settings here*/
*{ 
    margin: 10px;
    padding: 10px;
   }
   #wrapper{
    width: 1060px;
    background-color: silver;
    margin: 0px auto;
   }
   #header{
    min-height: 150px;
    background-color: green;
   }
   #navigation{
    min-height: 300px;
    width: 200px;
    background-color: blue;
    display: inline-block;
   }
   #main_content{
    min-height: 400px;
    background-color: red;
    display: inline-block;
    vertical-align: top;
   }
   .subcontents{
    min-height: 200px;
    width: 210px;
    background-color: yellow;
    display: inline-block;
    vertical-align: baseline;
   }
   #advertisement{
    min-height: 120px;
    background-color: purple;
   }   